<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<link rel="icon" href="{{ img }}favicon.ico" type="image/x-icon">
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ urlFor('root') }}/public/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ urlFor('root') }}/public/css/ui.css">
<link rel="stylesheet" href="{{ urlFor('root') }}/public/css/main.css">
{% include 'navigationbar.twig' %}
<div class="view-container">
  <section data-ng-view="" id="content" class="animate-fade-up"></section>
      <div class="page-err ng-scope">
          <div class="text-center">
              <div class="err-status">
                  <h1>404</h1>
              </div>
              <div class="err-message">
                  <h2>Page not found.</h2>
              </div>
              <div class="err-body">
                  <a href="{{ urlFor('root') }}" class="btn btn-lg btn-goback">
                      <span class="glyphicon glyphicon-home"></span>
                      <span class="space"></span>
                      Go Back to Home Page
                  </a>
              </div>
          </div>
      </div>
    </div>
