{# CRUD of drives #}
{% extends 'base.twig' %}
{% import 'forms.twig' as f %}
{% block css %}
  <link rel="stylesheet" href="{{ css }}AdminLTE.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-4">
      <form class="form-horizontal" action="{{ urlFor('add_drive') }}" method="post" role="form">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>New Drive</h3>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              {{ f.label('name','Name:','col-md-4') }}
              <div class="col-md-8">{{ f.text('name') }}</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              {{ f.label('controller_id','Controller:','col-md-4') }}
              <div class="col-md-8">{{ f.select('controller_id',controller) }}</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              {{ f.label('disk_id','Disk:','col-md-4') }}
              <div class="col-md-8">{{ f.select('disk_id',disk) }}</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              {{ f.label('available','Available:','col-md-4') }}
              <div class="col-md-7 col-md-offset-1">{{ f.check('available','','true') }}</div>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-primary btn-block">Save</button>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="title-box text-center">Controller</h3>
          </div>
          <div class="box-body">
            <p>Name: <b><span id="name_controller"></span></b></p>
            <p>Type: <b><span id="type_controller"></span></b></p>
            <p>Block Size: <b><span id="block_controller"></span></b></p>
            <p>Cache Size: <b><span id="size_controller"></span></b></p>
            <p>New Overhead: <b><span id="new_overhead_controller"></span></b></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box box-info">
          <div class="box-header">
            <h3 class="title-box text-center">Disk</h3>
          </div>
          <div class="box-body">
            <p>Name: <b><span id="name_disk"></span></b></p>
            <p>Type: <b><span id="type_disk"></span></b></p>
            <p>Manufacturer: <b><span id="manufacturer_disk"></span></b></p>
            <p>Display Name: <b><span id="display_name_disk"></span></b></p>
            <p>Size: <b><span id="size_disk"></span></b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
    $(document).ready(function() {

      $('#controller_id').change(function(event){
        var sn = $("#controller_id option:selected");
        $.getJSON("{{ urlFor('root') }}views_c/"+sn.val(), function(controller){
          $('span#name_controller').text(controller.name);
          $('span#type_controller').text(controller.type);
          $('span#block_controller').text(controller.block_size);
          $('span#size_controller').text(controller.cache_size);
          $('span#new_overhead_controller').text(controller.new_overhead);
        });
      });

      $('#disk_id').change(function(event){
        var sn = $("#disk_id option:selected");
        $.getJSON("{{ urlFor('root') }}views_d/"+sn.val(), function(disk){
          $('span#name_disk').text(disk.name);
          $('span#type_disk').text(disk.type);
          $('span#manufacturer_disk').text(disk.manufacturer);
          $('span#display_name_disk').text(disk.display_name);
          $('span#size_disk').text(disk.display_size+" "+disk.display_unit);
        });
      });
    });
  </script>
{% endblock %}
