{% extends 'base.twig' %}
{% import 'forms.twig' as f %}
{% block css %}
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/AdminLTE.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-10">
     <form class="form-horizontal" action="{{ urlFor('add-controller') }}" method="post" role="form">
      <div class="row">
        <div class="col-md-12 text-center">
          {% if controller.id is defined %}
            <h3>Edit Controller</h3>
          {% else %}
            <h3>New Controller</h3>
          {% endif %}
        </div>
      </div>
      {% if controller.id is defined %}
        <input type="hidden" id="id" name="id" value="{{ controller.id }}">
      {% else %}
        <input type="hidden" id="id" name="id" value="">
      {% endif %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            {{ f.label('name','Name:','col-md-4') }}
            <div class="col-md-6">
              {% if controller.name is defined %}
                <input type="text" id="name" name="name" class="form-control" value="{{ controller.name }}">
              {% else %}
                <input type="text" id="name" name="name" class="form-control" value="" >
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            {{ f.label('block_size','Block Size:','col-md-4') }}
            <div class="col-md-6">
              {% if controller.block_size is defined %}
                <input type="text" id="block_size" name="block_size" class="form-control" value="{{ controller.block_size }}">
              {% else %}
                <input type="text" id="block_size" name="block_size" class="form-control" value="" >
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            {{ f.label('new_overhead','New Overhead:','col-md-4') }}
            <div class="col-md-6">
              {% if controller.new_overhead is defined %}
                <input type="text" id="new_overhead" name="new_overhead" class="form-control" value="{{ controller.new_overhead }}">
              {% else %}
                <input type="text" id="new_overhead" name="new_overhead" class="form-control" value="" >
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            {{ f.label('write_fence','Write Fence:','col-md-4') }}
            <div class="col-md-6">
              {% if controller.write_fence is defined %}
                <input type="text" id="write_fence" name="write_fence" class="form-control" value="{{ controller.write_fence }}">
              {% else %}
                <input type="text" id="write_fence" name="write_fence" class="form-control" value="64 Kbytes" >
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            {{ f.label('inmediate_report','Inmediate Report:','col-md-4') }}
            <div class="col-md-2">
              {% if controller.inmediate_report == true %}
                <input type="checkbox" id="inmediate_report" name="inmediate_report" class="form-control" value="{{ controller.inmediate_report }}" checked>
              {% else %}
                <input type="checkbox" id="inmediate_report" name="inmediate_report" class="form-control" value="false" >
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            {{ f.label('available','Available:','col-md-4') }}
            <div class="col-md-2">
              {% if controller.available == true %}
                <input type="checkbox" id="available" name="available" class="form-control" value="{{ controller.available }}" checked>
              {% else %}
                <input type="checkbox" id="available" name="available" class="form-control" value="false" >
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{ f.label('type','Type:','col-md-4') }}
            <div class="col-md-6">
              {% if controller.type is defined %}
                <input type="text" id="type" name="type" class="form-control" value="{{ controller.type }}">
              {% else %}
                <input type="text" id="type" name="type" class="form-control" value="SIMPLE_CONTROLLER" >
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            {{ f.label('cache_size','Cache Size:','col-md-4') }}
            <div class="col-md-6">
              {% if controller.cache_size is defined %}
                <input type="text" id="cache_size" name="cache_size" class="form-control" value="{{ controller.cache_size }}">
              {% else %}
                <input type="text" id="cache_size" name="cache_size" class="form-control" value="512 Kbytes" >
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            {{ f.label('read_fence','Read Fence:','col-md-4') }}
            <div class="col-md-6">
              {% if controller.read_fence is defined %}
                <input type="text" id="read_fence" name="read_fence" class="form-control" value="{{ controller.read_fence }}">
              {% else %}
                <input type="text" id="read_fence" name="read_fence" class="form-control" value="64 Kbytes" >
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            {{ f.label('prefetching','Prefetching:','col-md-4') }}
            <div class="col-md-2">
              {% if controller.prefetching == true %}
                <input type="checkbox" id="prefetching" name="prefetching" class="form-control" value="{{ controller.prefetching }}" checked>
              {% else %}
                <input type="checkbox" id="prefetching" name="prefetching" class="form-control" value="false" >
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            {{ f.label('msg_size','Msg Size:','col-md-4') }}
            <div class="col-md-6">
              {% if controller.msg_size is defined %}
                <input type="text" id="msg_size" name="msg_size" class="form-control" value="{{ controller.msg_size }}">
              {% else %}
                <input type="text" id="msg_size" name="msg_size" class="form-control" value="1" >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2 col-md-offset-4">
            <button class="btn btn-primary btn-block">Save</button>
          </div>
          <div class="col-md-2">
            <a href="{{ urlFor('controllers') }}" class="btn btn-default btn-block">Cancel</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
