{# CRUD of networks #}
{% extends 'base.twig' %}
{% import 'forms.twig' as f %}
{% block css %}
  <link rel="stylesheet" href="{{ css }}AdminLTE.css">
  <link rel="stylesheet" href="{{ css }}ui.css">
  <link rel="stylesheet" href="{{ css }}ionicons.min.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-10">
    <form class="form-horizontal" action="{{ urlFor('add_network') }}" method="post" role="form">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>New Network</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            {{ f.label('type','Type:','col-md-4') }}
            <div class="col-md-6">{{ f.text('type') }}</div>
          </div>
          <div class="form-group">
            {{ f.label('bandwidth','Bandwidth:','col-md-4') }}
            <div class="col-md-6">{{ f.text('bandwidth') }}</div>
          </div>
          <div class="form-group">
            {{ f.label('display_name','Display Name:','col-md-4') }}
            <div class="col-md-6">{{ f.text('display_name') }}</div>
          </div>
           <div class="form-group">
            {{ f.label('available','Available:','col-md-4') }}
            <div class="col-md-6 col-md-offset-1">{{ f.check('available','','true') }}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            {{ f.label('latency','Latency:','col-md-4') }}
            <div class="col-md-6">{{ f.text('latency') }}</div>
          </div>
          <div class="form-group">
            {{ f.label('network','Network:','col-md-4') }}
            <div class="col-md-6">{{ f.text('network','','BUS') }}</div>
          </div>
          <div class="form-group">
            {{ f.label('display_order','Display Order:','col-md-4') }}
            <div class="col-md-6">{{ f.text('display_order') }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <button class="btn btn-primary btn-block">Save</button>
        </div>
      </div>
     </form>
    </div>
  </div>
{% endblock %}
