{# CRUD of distributors #}
{% extends 'base.twig' %}
{% import 'forms.twig' as f %}
{% block css %}
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/AdminLTE.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-10">
      <form class="form-horizontal" action="{{ urlFor('add-distributor') }}" method="post" role="form">
        <div class="row">
          <div class="col-md-12 text-center">
            {% if distributor.id is defined %}
              <h3>Edit Distributor</h3>
            {% else %}
              <h3>New Distributor</h3>
            {% endif %}
          </div>
        </div>
          {% if distributor.id is defined %}
            <input type="hidden" id="id" name="id" value="{{ distributor.id }}">
          {% else %}
            <input type="hidden" id="id" name="id" value="">
          {% endif %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ f.label('distributor','Distributor:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.distributor is defined %}
                  <input type="text" id="distributor" name="distributor" class="form-control" value="{{ distributor.distributor }}">
                {% else %}
                  <input type="text" id="distributor" name="distributor" class="form-control" value="NODE0" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('size','Size:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.size is defined %}
                  <input type="text" id="size" name="size" class="form-control" value="{{ distributor.size }}">
                {% else %}
                  <input type="text" id="size" name="size" class="form-control" value="10" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('overhead','Overhead:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.overhead is defined %}
                  <input type="text" id="overhead" name="overhead" class="form-control" value="{{ distributor.overhead }}">
                {% else %}
                  <input type="text" id="overhead" name="overhead" class="form-control" value="" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('report','Report:','col-md-4') }}
              <div class="col-md-2">
                {% if distributor.report == true %}
                  <input type="checkbox" id="report" name="report" class="form-control" value="{{ distributor.report }}" checked>
                {% else %}
                  <input type="checkbox" id="report" name="report" class="form-control" value="false" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('display_name','Display Name:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.display_name is defined %}
                  <input type="text" id="display_name" name="display_name" class="form-control" value="{{ distributor.display_name }}">
                {% else %}
                  <input type="text" id="display_name" name="display_name" class="form-control" value="" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('distribution_id','Distribution:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.distribution_id is defined %}
                  {{ f.select('distribution_id',distributions,distributor.distribution_id) }}
                {% else %}
                  {{ f.select('distribution_id',distributions) }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {{ f.label('type','Type:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.type is defined %}
                  <input type="text" id="type" name="type" class="form-control" value="{{ distributor.type }}">
                {% else %}
                  <input type="text" id="type" name="type" class="form-control" value="" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('striping','Striping:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.striping is defined %}
                  <input type="text" id="striping" name="striping" class="form-control" value="{{ distributor.striping }}">
                {% else %}
                  <input type="text" id="striping" name="striping" class="form-control" value="" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('max_requests','Max Requests:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.max_requests is defined %}
                  <input type="text" id="max_requests" name="max_requests" class="form-control" value="{{ distributor.max_requests }}">
                {% else %}
                  <input type="text" id="max_requests" name="max_requests" class="form-control" value="10" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('done_size','Done Size:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.done_size is defined %}
                  <input type="text" id="done_size" name="done_size" class="form-control" value="{{ distributor.done_size }}">
                {% else %}
                  <input type="text" id="done_size" name="done_size" class="form-control" value="1" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('display_order','Display Order:','col-md-4') }}
              <div class="col-md-6">
                {% if distributor.display_order is defined %}
                  <input type="text" id="display_order" name="display_order" class="form-control" value="{{ distributor.display_order }}">
                {% else %}
                  <input type="text" id="display_order" name="display_order" class="form-control" value="" >
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ f.label('available','Available:','col-md-4') }}
              <div class="col-md-2">
                {% if distributor.available == true %}
                  <input type="checkbox" id="available" name="available" class="form-control" value="{{ distributor.available }}" checked>
                {% else %}
                  <input type="checkbox" id="available" name="available" class="form-control" value="false" >
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 col-md-offset-4">
            <button class="btn btn-primary btn-block">Save</button>
          </div>
          <div class="col-md-2">
            <a href="{{ urlFor('drives') }}" class="btn btn-default btn-block">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
