<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{{ img }}favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ img }}favicon.ico" type="image/x-icon">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
  <!-- PACE js -->
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/pace-theme-minimal.css">
  <script data-pace-options='{ "ajax": false, "restartOnRequestAfter": false }' src="{{ urlFor('root') }}/public/js/pace.min.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/animate.min.css">
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/styles.css">
  {% block css %}{% endblock %}
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="container">
  <!--[if lt IE 8]>
  <p class="browsehappy alert alert-warning alert-dismissable">
  <i class="fa fa-warning"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ lang.browsehappy|raw }}</p>
  <![endif]-->
  {% if user is defined and user is null %}
  {% include 'loginForm.twig' %}
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      {% spaceless %}
        {% include 'navigationbar.twig' %}
      {% endspaceless %}
    </div>
  </div>
  <hr>
  {% block content %}{% endblock %}
  <!-- JS -->
  <script src="{{ urlFor('root') }}/public/js/jquery.min.js"></script>
  <script src="{{ urlFor('root') }}/public/js/jquery.cookie.js"></script>
  <script src="{{ urlFor('root') }}/public/js/bootstrap.min.js"></script>
  <script src="{{ urlFor('root') }}/public/js/bootstrap-floating-label.js"></script>
  <script src="{{ urlFor('root') }}/public/js/moment-with-langs.min.js"></script>
  <script src="{{ urlFor('root') }}/public/js/charts.min.js"></script>
  <script src="{{ urlFor('root') }}/public/js/app.js"></script>
  <script>
    $(document).ready(function() {
      $('*[data-lang]').click(function(event) {
        $.cookie('{{ langCookie }}', $(this).attr('data-lang'));
      });
      $('#loginForm').on('shown.bs.modal', function (e) {
        $('#username').val();
        $('#password').val();
        $('#username').focus();
      });
    });
  </script>
  {% block js %}{% endblock %}
</body>
</html>
