{# index/home #}
{% extends 'base.twig' %}
{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Hi {{ user.name }} {{ user.lastname }} {{ user.lastname_second }}!</h1>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <p><b>Current Organization: "Adaptivez"</b> || There are 0 workgroup request »</p>
              <hr>
              <p><b>You were working on:</b></p>
              <hr>
              <p><i>There's is no active project. <small>[<a href="#">Active a Project</a>]</small></i></p>
              <p><b>Involved Workgroups:</b></p>
              <hr>
              <p><small>Click on a Workgroups to Change the Active Workgroup</small></p>
              <p><b>What will you do today?</b></p>
              <div class="row">
                <div class="col-md-4">
                  <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-rocket fa-3x"></i><br>Simulation <br> Launcher</a>
                </div>
                <div class="col-md-4">
                  <a href="{{ urlFor('testing2') }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-cubes fa-3x"></i><br>RAID <br> Designer</a>
                </div>
                <div class="col-md-4">
                  <a href="{{ urlFor('testing3') }}" class="btn btn-primary btn-lg" role="button"><i class="fa fa-desktop fa-3x"></i><br>Workload <br> Generator</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6 col-md-offset-4"><p>Avatar</p></div>
      </div>
      <br><br><br><br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p><b>Rank:</b></p>
          <hr>
          <p><b>Active Workgroup: </b>There's no active workgroup. <small>[<a href="#">Active a Workgroup</a>]</small></p>
          <p><b>Ocupation:</b></p>
          <p><b>E-mail:</b> {{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
