{# index/home #}
{% extends 'base.twig' %}
{% block css %}
  <link rel="stylesheet" href="{{ css }}AdminLTE.css">
{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Dashboard</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Welcome {{ user.name ~ ' ' ~ user.lastname ~ ' ' ~ user.lastname_second }}, what will you do today?</h3>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>RAID</h3><h3>Designer</h3>
            </div>
            <div class="icon">
              <i class="fa fa-cubes"></i>
            </div>
            <a href="{{ urlFor('raid-designer') }}" class="small-box-footer"> Open <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>Workload</h3><h3>Generator</h3>
            </div>
            <div class="icon">
              <i class="fa fa-exchange"></i>
            </div>
            <a href="{{ urlFor('workload-generator') }}" class="small-box-footer"> Open <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>Simulation</h3><h3>Launcher</h3>
            </div>
            <div class="icon">
              <i class="fa fa-rocket"></i>
            </div>
            <p href="#" class="small-box-footer"> Open <i class="fa fa-arrow-circle-right"></i></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="small-box bg-teal">
            <div class="inner">
              <h3>Manage</h3><h3>Workgroups</h3>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <p href="#" class="small-box-footer"> Open <i class="fa fa-arrow-circle-right"></i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4 col-md-offset-3 col-xs-4 col-xs-offset-4">
        {# if user.avatar_uri is empty %}
          <img src="{{ urlFor('avatar',{text: user.email }) }}" class="img-rounded" alt="User avatar" >
        {% else %}
          <img src="{{ user.avatar_uri }}" class="img-rounded" alt="User avatar" >
        {% endif #}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
          <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd>{{ user.email }}</dd>
            <dt>Organization:</dt>
            <dd>{{ user.organization.name|default('None') }}</dd>
            <dt>Active Project:</dt>
            <dd>{{ project.name|default('None') }} <small>[<a href="#">Active a Project</a>]</small></dd>
            <dt>Active Workgroup:</dt>
            <dd>{{ project.name|default('None') }} <small>[<a href="#">Active a Project</a>]</small></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
