{# index/register_user #}
{% extends 'base.twig' %}
{% import 'forms.twig' as f %}
{% block css %}
    <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/examples.css">
{% endblock %}
{% block content %}
<form id="defaultForm" class="form-horizontal" action="{{ urlFor('signup-post') }}" method="post" role="form"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
    <div class="row">
      <div class="col-md-8">
        <h3 class="text-center">Register here!</h3>
        <hr>
        <div class="form-group">
          {{ f.label('email','Email:','col-md-4') }}
          <div class="col-md-6"><input type="email" id="email" name="email" class="form-control" data-bv-notempty="true" required data-bv-notempty-message="The email is required and cannot be empty" autocomplete="off"></div>
        </div>
        <div class="form-group">
          {{ f.label('password','Password:','col-md-4') }}
          <div class="col-md-6">
            <div class="input-group">
              <input type="password" id="password" name="password" class="form-control pwd" required data-bv-notempty-message="The password is required and cannot be empty" autocomplete="off">
              <span class="input-group-btn"><button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          {{ f.label('name','Name (s):','col-md-4') }}
          <div class="col-md-6"><input type="text" id="name" name="name" class="form-control" required data-bv-notempty-message="The name is required and cannot be empty"></div>
        </div>
        <div class="form-group">
          {{ f.label('lastname','Last Name:','col-md-4') }}
          <div class="col-md-6"><input type="text" id="lastname" name="lastname" class="form-control" required data-bv-notempty-message="The last name is required and cannot be empty"></div>
        </div>
        <div class="form-group">
          {{ f.label('lastname_second','2nd Last Name:','col-md-4') }}
          <div class="col-md-6">{{ f.text('lastname_second') }}</div>
        </div>
        <div class="form-group">
          {{ f.label('organization_id','Organization:','col-md-4') }}
          <div id="the-basics">
            <div class="col-md-6">
              <input class="typeahead form-control" type="text" id="organization_id" name="organization_id" placeholder="Organization">
            </div>
          </div>
        </div>
        {{ f.hide('username') }}
        <div class="col-md-4 col-md-offset-4">
          <button type="submit" class="btn btn-primary">Request Account</button>
        </div>
      </div>
      <div class="col-md-3">
        {% include 'partners.twig' %}
      </div>
    </div>
  </form>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ urlFor('root') }}/public/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="{{ urlFor('root') }}/public/js/typeahead.jquery.min.js"></script>
    <script>
    $(document).ready(function() {

      $('#email').focus();

      $('#defaultForm').bootstrapValidator();

      $(".reveal").hover(function() {
        $(".pwd").replaceWith($('.pwd').clone().attr('type', 'text'));
      }, function() {
        $(".pwd").replaceWith($('.pwd').clone().attr('type', 'password'));
      });

    });

    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            // the typeahead jQuery plugin expects suggestions to a
            // JavaScript object, refer to typeahead docs for more info
            matches.push({ value: str });
          }
        });

        cb(matches);
      };
    };

    var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
      'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
      'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
      'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
      'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
      'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
      'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
      'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
      'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
    ];

    $('#the-basics .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'states',
      displayKey: 'value',
      source: substringMatcher(states)
    });
    </script>
{% endblock %}
