{# index/register_user #}
{% extends 'base.twig' %}
{% import 'forms.twig' as f %}
{% block css %}
    <link rel="stylesheet" href="{{ css }}bootstrapValidator.min.css">
{% endblock %}
{% block content %}
<form id="defaultForm" class="form-horizontal" action="{{ urlFor('sign_up') }}" method="post" role="form"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="row">
      <div class="col-md-8">
        <h3 class="text-center">Register here!</h3>
        <hr>
        <div class="form-group">
          {{ f.label('email','Email:','col-md-4') }}
          <div class="col-md-6"><input type="email" id="email" name="email" class="form-control" data-bv-notempty="true" required data-bv-notempty-message="The email is required and cannot be empty"></div>
        </div>
        <div class="form-group">
          {{ f.label('password','Password:','col-md-4') }}
          <div class="col-md-6">
            <div class="input-group">
              <input type="password" id="password" name="password" class="form-control" required data-bv-notempty-message="The password is required and cannot be empty">
              <span class="input-group-btn"><button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          {{ f.label('name','Name (s):','col-md-4') }}
          <div class="col-md-6"><input type="text" id="name" name="name" class="form-control" required data-bv-notempty-message="The name is required and cannot be empty"></div>
        </div>
        <div class="form-group">
          {{ f.label('lastname','Last Name:','col-md-4') }}
          <div class="col-md-6"><input type="text" id="lastname" name="lastname" class="form-control" required data-bv-notempty-message="The last name is required and cannot be empty"></div>
        </div>
        <div class="form-group">
          {{ f.label('lastname_second','2nd Last Name:','col-md-4') }}
          <div class="col-md-6">{{ f.text('lastname_second') }}</div>
        </div>
        <div class="form-group">
          {{ f.label('organization_id','Organization:','col-md-4') }}
          <div class="col-md-6">{{ f.select('organization_id',organizations) }}</div>
        </div>
        {{ f.hide('username') }}
        <div class="col-md-4 col-md-offset-4">
          <button type="submit" class="btn btn-primary">Request Account</button>
        </div>
      </div>
      <div class="col-md-3">
        {% include 'partners.twig' %}
      </div>
    </div>
  </form>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ js }}bootstrapValidator.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

      $('#defaultForm').bootstrapValidator();

      $(".reveal").hover(function() {
        $("#password").replaceWith($('#password').clone().attr('type', 'text'));
      }, function() {
        $("#password").replaceWith($('#password').clone().attr('type', 'password'));
      });

    });
    </script>
{% endblock %}
