{# Se incluye en los archivos del index #}
<h3>Partners</h3><hr>
  <ul>
    <li><a href="http://www.upc.edu/" alt="UPC" target="_blank"><i><small>Universitat Politècnica de Catalunya</small></i></a></li>
    <li><a href="http://www.bsc.es/" alt="BSC" target="_blank"><i><small>Barcelona Supercomputing Center</small></i></a></li>
    <ul>
      <li><a href="http://www.bsc.es/plantillaF.php?cat_id=51" alt="SSRG" target="_blank"><i><small>Storage System Research Group</small></i></a></li>
    </ul>
      <li><a href="http://www.adaptivez.org.mx" alt="AdaptiveZ" target="_blank"><i><small>AdaptiveZ</small></i></a></li>
      <li><a href="http://www.adaptivez.org.mx/gisaa/" alt="GISAA" target="_blank"><i><small>GISAA</small></i></a></li>
    </ul>
  <hr>

  <div class="bs-docs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-docs-sidenav">
      <li><a href="{{ urlFor('root') }}">Index</a></li>
      <li><a href="{{ urlFor('papers') }}">Papers</a></li>
      <li><a href="{{ urlFor('staff') }}">Staff</a></li>
      <li><a href="{{ urlFor('about') }}">About Us</a></li>
      <li><a href="{{ urlFor('register') }}">Register</a></li>
    </ul>
  </div>
