{# index/home/simulationTools/RAID-designer #}
{% extends 'base.twig' %}
{% import 'forms.twig' as f %}
{% block content %}
  <div class="row">
    <div class="col-md-7 col-md-offset-1"><h3>RAID Designer</h3><hr>
      <div id="rootwizard">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#start" data-toggle="tab"><i class="fa fa-play-circle"></i> Start</a></li>
        <li><a href="#network" data-toggle="tab"><i class="fa fa-signal"></i> Network</a></li>
        <li><a href="#disks" data-toggle="tab"><i class="fa fa-hdd-o"></i> Disks</a></li>
        <li><a href="#striping" data-toggle="tab"><i class="fa fa-dot-circle-o"></i> Striping Unit</a></li>
        <li><a href="#distribution" data-toggle="tab"><i class="fa fa-sitemap"></i> Distribution</a></li>
        <li><a href="#end" data-toggle="tab"><i class="fa fa-lock"></i> End</a></li>
      </ul>
      <form class="form-horizontal" action="" role="form">
        <div class="tab-content">
          <div class="tab-pane active" id="start">
            <br>
            <div class="row">
              <div class="form-group">
                {{ f.label('short_name','RAID name:','col-md-2 col-md-offset-1') }}
                <div class="col-md-5">{{ f.text('short_name') }}</div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                {{ f.label('notes','RAID notes:','col-md-2 col-md-offset-1') }}
                <div class="col-md-5">{{ f.textarea('notes') }}</div>
                <div class="col-md-4">
                  <p class="text-justify"><b>W</b>rite a description of the RAID that will be designed. Or just use this space to write down some notes about the experiment.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="network">
            <div class="row">
              <div class="col-md-offset-1">
                <br>
                <p>Choose a network for you RAID:</p>
                <div class="row">
                  <div class="col-md-6">{{ f.select('network_id', networks) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="disks">
            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                {% include 'testing_RAID.twig' %}
              </div>
            </div>
          </div>
          <div class="tab-pane" id="striping">
            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                <br>
                {{ f.label('striping','Size:','col-md-2') }}
                <div class="col-md-6">{{ f.text('striping') }}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-md-offset-1">
                <div class="form-inline">
                  {{ f.label('striping_unit','Measure:') }}
                </div>
              </div>
              <div class="col-md-1">
                  {{ f.radio('striping_unit','measure1','kb','KB',true) }}
              </div>
              <div class="col-md-1">
                  {{ f.radio('striping_unit','measure2','mb','MB') }}
              </div>
              <div class="col-md-1">
                  {{ f.radio('striping_unit','measure3','gb','GB') }}
              </div>
            </div>
          </div>
          <div class="tab-pane" id="distribution">
            <div class="row">
              <div class="col-md-11 col-md-offset-1">
                <br>
                <ul class="nav nav-pills">
                {% for distributor in distributors %}
                  <li><a href="#{{ distributor.distribution.name }}" data-toggle="tab">{{ distributor.distribution.name }}</a></li>
                {% endfor %}
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="static">
                    <br>
                    {{ f.radio('distribution','raid0','raid0','Raid 0') }}
                    {{ f.radio('distribution','raid1','raid1','Raid 1') }}
                    {{ f.radio('distribution','raid5','raid5','Raid 5') }}
                    {{ f.radio('distribution','raidx','raidx','Raid X') }}
                  </div>
                  <div class="tab-pane" id="heterogeneous">
                    <br>
                    {{ f.radio('distribution','a_raid0','a_raid0','Adapt Raid 0') }}
                    {{ f.radio('distribution','a_raid1','a_raid1','Adapt Raid 1') }}
                    {{ f.radio('distribution','a_raid5','a_raid5','Adapt Raid 5') }}
                    {{ f.radio('distribution','a_raidx','a_raidx','Adapt Raid X') }}
                  </div>
                  <div class="tab-pane" id="orthogonal">
                    <br>
                    {{ f.label('orthogonal','Available soon') }}
                    {{ f.radio('distribution','chained_o','chained_o','Chained Declustering') }}
                    {{ f.radio('distribution','raidx_o','raidx_o','Raid X') }}
                  </div>
                  <div class="tab-pane" id="adaptive">
                    <br>
                    {{ f.label('adaptive','Available soon') }}
                    {{ f.radio('distribution','adaptive_z','adaptive_z','Adaptive Z') }}
                    {{ f.radio('distribution','adaptive_x','adaptive_x','Adaptive X') }}
                    {{ f.radio('distribution','scale_osm','scale_osm','ScaleStor + OSM') }}
                    {{ f.radio('distribution','scale_cd','scale_cd','ScaleStor + CD') }}
                  </div>
                  <div class="tab-pane" id="pseudo_random">
                    <br>
                    {{ f.label('pseudo_random','Available soon') }}
                    {{ f.radio('distribution','sca_ho','sca_ho','SCADDAR Homogeneous') }}
                    {{ f.radio('distribution','sca_he','sca_he','SCADDAR Heterogeneous') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="end">
            <br>
            <p>Save your configuration, so you can use it later.</p>
            <button class="btn btn-primary">Save RAID Configuration</button>
          </div>
          <ul class="pager wizard">
            <li class="previous first" style="display:none;"><a href="#">First</a></li>
            <li class="previous"><a href="#">Previous</a></li>
            <li class="next last" style="display:none;"><a href="#">Last</a></li>
            <li class="next"><a href="#">Next</a></li>
          </ul>
        </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <h3>Configuration Selected</h3>
      <hr><br>
      <p><b>Network:</b><span id="network_view"></span></p>
      <p><b>Storage:</b><span id="storage_view"></span></p>
      <p><b>Disks:</b><span id="disks_view"></span></p>
      <p><b>Striping Unit:</b><span id="striping_view"> ---</span></p>
      <p><b>Distribution:</b><span id="distribution_view"></span></p>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
  <script>
    $(document).ready(function() {
      var radio1 = $('input[name=distribution]');
      var check1 = $('input[name=n_type_d1]');
      var check2 = $('input[name=n_type_d2]');
      var check3 = $('input[name=n_type_d3]');
      var check4 = $('input[name=n_type_d4]');
      var check5 = $('input[name=n_type_d5]');
      var check6 = $('input[name=n_type_d6]');

      $('#network_id').change(function(event){
        var sn = $("#network_id option:selected");
        $('span#network_view').html(" "+sn.text());
      });

      $('select#id').attr('disabled', 'disabled');

      check1.change(function(event){
        var c1 = $("input[name=n_type_d1]:checked");
        if(c1.val() == 1){
          $('select#n_disk1').attr('disabled', false);
        }
        else{
          $('select#n_disk1').attr('disabled', 'disabled');
        }
      });

      check2.change(function(event){
        var c2 = $("input[name=n_type_d2]:checked");
        if(c2.val() == 1){
          $('select#n_disk2').attr('disabled', false);
        }
        else{
          $('select#n_disk2').attr('disabled', 'disabled');
        }
      });

      check3.change(function(event){
        var c3 = $("input[name=n_type_d3]:checked");
        if(c3.val() == 1){
          $('select#n_disk3').attr('disabled', false);
        }
        else{
          $('select#n_disk3').attr('disabled', 'disabled');
        }
      });

      check4.change(function(event){
        var c4 = $("input[name=n_type_d4]:checked");
        if(c4.val() == 1){
          $('select#n_disk4').attr('disabled', false);
        }
        else{
          $('select#n_disk4').attr('disabled', 'disabled');
        }
      });

      check5.change(function(event){
        var c5 = $("input[name=n_type_d5]:checked");
        if(c5.val() == 1){
          $('select#n_disk5').attr('disabled', false);
        }
        else{
          $('select#n_disk5').attr('disabled', 'disabled');
        }
      });

      check6.change(function(event){
        var c6 = $("input[name=n_type_d6]:checked");
        if(c6.val() == 1){
          $('select#n_disk6').attr('disabled', false);
        }
        else{
          $('select#n_disk6').attr('disabled', 'disabled');
        }
      });

      $('#n_disk1').change(function(event){
        var d1 = $("#n_disk1 option:selected");
        $('span#disks_view').html(" "+d1.val());
      });

      $('#n_disk2').change(function(event){
        var d2 = $("#n_disk2 option:selected");
        $('span#disks_view').html(" "+d2.val());
      });

      radio1.change(function(event) {
        var r1 = $("input[name=distribution]:checked");
        $('span#distribution_view').html(" "+r1.parent().text());
      });

      $('#size').keyup(function(event){
        var h = $('#size').val();
        if(h.length >= 1){
          var me = $("input[name=measure]:checked");
          $('span#striping_view').html(" "+h+" "+me.parent().text());
        }
      });
    });
  </script>
{% endblock %}
