{# designer_RAID incluido en designer's  #}
<div class="row">
  <div class="col-md-3">
    <br>
    <h4><span class="label label-primary">Qty</span></h4>
  </div>
  <div class="col-md-6">
    <br>
    <h4><span class="label label-primary">Type</span></h4>
  </div>
  <div class="col-md-3">
    <br>
    <h4><span class="label label-primary">Subtotal</span></h4>
  </div>
</div>
{% for disk in disks %}
<br>
<div class="row">
  <div class="col-md-3">
    {{ f.select('id', range(1,99)) }}
  </div>
  <div class="col-md-6">
    <label for="{{ disk.name }}"><input type="checkbox" id="{{ disk.name }}" name="{{ disk.name }}" value="{{ disk.id }}" >&nbsp;{{ disk.display_name }}</label><br>
  </div>
  <div class="col-md-3">
    <label id="size{{ disk.id }}">0 GB</label>
  </div>
</div>
{% endfor %}
