{# CRUD of distributions #}
{% extends 'base.twig' %}
{% import 'forms.twig' as f %}
{% block content %}
 <form class="form-horizontal" action="{{ urlFor('add_distributions') }}" method="post" role="form">
    <div class="row">
      <div class="col-md-6 text-center">
        <h3>Distributions</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ f.label('name','Name:','col-md-4') }}
          <div class="col-md-6">{{ f.text('name') }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ f.label('display_order','Display Order:','col-md-4') }}
          <div class="col-md-6">{{ f.text('display_order') }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ f.label('is_trace_generator','Is Trace Generator:','col-md-4') }}
          <div class="col-md-6">{{ f.check('is_trace_generator','','true') }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ f.label('available','Available:','col-md-4') }}
          <div class="col-md-6">{{ f.check('available','','true') }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <button class="btn btn-primary btn-block">Save</button>
      </div>
    </div>
  </form>
{% endblock %}
