{% extends 'base.twig' %}
{% block css %}
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/bootstrap-table.css">
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/AdminLTE.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="title-box text-center"><i class="fa fa-sitemap"></i>&nbsp;Distributions</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover table-responsive" data-toggle="table" data-url="{{ urlFor('root') }}admin/distributions/distributions.json" data-height="246" data-show-columns="true" data-pagination="true">
                <thead>
                <tr>
                    <th data-field="id" data-visible="false">#</th>
                    <th data-field="name">Name</th>
                    <th data-field="is_trace_generator" data-formatter="priceFormatter1">Is Trace Generator</th>
                    <th data-field="available" data-formatter="priceFormatter">Available</th>
                    <th data-field="id" data-formatter="modalLink">Info</th>
                </tr>
                </thead>
            </table>
            {# Inicia Modal #}
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><b><i class="fa fa-sitemap">&nbsp;<span id="name"></span></i></b></h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                      <p><b>Is Trace Generator: </b><span id="is_trace_generator"></span></p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <span id="available"></span>
                    <span id="edit"></span>
                    <span id="delete"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                </div>
              </div>
            </div>
            {# Termina Modal #}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ urlFor('root') }}/public/js/bootstrap-table.js"></script>
  <script>
    function priceFormatter(value) {
      if (value == false) {
        return '<span class="badge bg-red">Disabled</span>';
        }
      else{
          return '<span class="badge bg-green">Enabled</span>';
        }
    };

    function priceFormatter1(value) {
      if (value == false) {
        return '<span class="badge bg-red">Is no trace</span>';
        }
      else{
          return '<span class="badge bg-blue">Trace</span>';
        }
    };

    function modalLink(value) {
      return '<a href="#" data-toggle="modal" data-id="'+value+'"><i class="fa fa-info">&nbsp;More info</i></a>';
    };

    $(function() {
      $(document).on('click', 'a[data-toggle="modal"]', function(event) {
        event.preventDefault();
        var link = $(this);
        var id = link.data('id');
        var id = link.attr('data-id');
        $.getJSON("{{ urlFor('root') }}admin/distributions/distributions.json/"+id, function(distribution){
          //optional stuff to do after success
          $('#name').text(distribution.name);
          if(distribution.is_trace_generator == true){
            $('#is_trace_generator').html('<span class="badge bg-blue">Trace</span>');
          }else{
            $('#is_trace_generator').html('<span class="badge bg-red">Is no trace</span>');
          }
          if(distribution.available == false){
            $('#available').html('<a href="{{ urlFor("root") }}admin/distributions/toggle-distribution/'+distribution.id+'" class="btn btn-success"><i class="fa fa-check">&nbsp;</i>Enabled</a>');
          }else{
            $('#available').html('<a href="{{ urlFor("root") }}admin/distributions/toggle-distribution/'+distribution.id+'" class="btn btn-danger"><i class="fa fa-times">&nbsp;</i>Disabled</a>');
          }
          $('#edit').html('<a href="{{ urlFor("root") }}admin/distributions/edit-distribution/'+distribution.id+'" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Edit</a>');
          $('#delete').html('<a href="{{ urlFor("root") }}admin/distributions/delete-distribution/'+distribution.id+'" class="btn btn-warning"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>');
          $('#myModal').modal('show');
        });
      });
    });
  </script>
{% endblock %}
