{% extends 'base.twig' %}
{% block css %}
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/bootstrap-table.css">
  <link rel="stylesheet" href="{{ urlFor('root') }}/public/css/AdminLTE.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="title-box text-center"><i class="fa fa-sliders"></i>&nbsp;Distributors</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover table-responsive" data-toggle="table" data-url="{{ urlFor('root') }}admin/distributors/distributors.json" data-height="246" data-show-columns="true" data-pagination="true">
                <thead>
                <tr>
                    <th data-field="id" data-visible="false">#</th>
                    <th data-field="distributor">Distributor</th>
                    <th data-field="type" data-visible="false">Type</th>
                    <th data-field="size" data-visible="false">Size</th>
                    <th data-field="display_name">Display Name</th>
                    <th data-field="distribution_name">Distribution</th>
                    <th data-field="striping" data-visible="false">Striping</th>
                    <th data-field="overhead" data-visible="false">Overhead</th>
                    <th data-field="max_requests" data-visible="false">Max Requests</th>
                    <th data-field="report" data-visible="false" data-formatter="priceFormatter">Report</th>
                    <th data-field="done_size" data-visible="false">Done Size</th>
                    <th data-field="available" data-formatter="priceFormatter">Available</th>
                    <th data-field="id" data-formatter="modalLink">Info</th>
                </tr>
                </thead>
            </table>
            {# Inicia Modal #}
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><b><i class="fa fa-sliders">&nbsp;<span id="display_name"></span></i></b></h4>
                    <h4 class="modal-title"><span id="distribution"></span></h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                      <p><b>Distributor: </b><span id="distributor"></span></p>
                      <p><b>Type: </b><span id="type"></span></p>
                      <p><b>Size: </b><span id="size"></span></p>
                      <p><b>Striping: </b><span id="striping"></span></p>
                    </div>
                    <div class="col-md-6">
                      <p><b>Overhead: </b><span id="overhead"></span></p>
                      <p><b>Max Requets: </b><span id="max_requests"></span></p>
                      <p><b>Report: </b><span id="report"></span></p>
                      <p><b>Done Size: </b><span id="done_size"></span></p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <span id="available"></span>
                    <span id="edit"></span>
                    <span id="delete"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                </div>
              </div>
            </div>
            {# Termina Modal #}
        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
  <script src="{{ urlFor('root') }}/public/js/bootstrap-table.js"></script>
  <script>
    function priceFormatter(value) {
      if (value == false) {
        return '<span class="badge bg-red">Disabled</span>';
        }
      else{
          return '<span class="badge bg-green">Enabled</span>';
        }
    };

  function modalLink(value) {
      return '<a href="#" data-toggle="modal" data-id="'+value+'"><i class="fa fa-info">&nbsp;More info</i></a>';
    };

    $(function() {
      $(document).on('click', 'a[data-toggle="modal"]', function(event) {
        event.preventDefault();
        var link = $(this);
        var id = link.data('id');
        var id = link.attr('data-id');
        $.getJSON("{{ urlFor('root') }}admin/distributors/distributors.json/"+id, function(distributor){
          //optional stuff to do after success
          $('#display_name').text(distributor.display_name);
          $('#distribution').text(distributor.distribution.name);
          $('#distributor').text(distributor.distributor);
          $('#type').text(distributor.type);
          $('#size').text(distributor.size);
          $('#striping').text(distributor.striping);
          $('#overhead').text(distributor.overhead);
          $('#max_requests').text(distributor.max_requests);
          if(distributor.report == true){
            $('#report').html('<span class="badge bg-green">Enabled</span>');
          }else{
            $('#report').html('<span class="badge bg-red">Disabled</span>');
          }
          $('#done_size').text(distributor.done_size);
          if(distributor.available == false){
            $('#available').html('<a href="{{ urlFor("root") }}admin/distributors/toggle-distributor/'+distributor.id+'" class="btn btn-success"><i class="fa fa-check">&nbsp;</i>Enabled</a>');
          }else{
            $('#available').html('<a href="{{ urlFor("root") }}admin/distributors/toggle-distributor/'+distributor.id+'" class="btn btn-danger"><i class="fa fa-times">&nbsp;</i>Disabled</a>');
          }
          $('#edit').html('<a href="{{ urlFor("root") }}admin/distributors/edit-distributor/'+distributor.id+'" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Edit</a>');
          $('#delete').html('<a href="{{ urlFor("root") }}admin/distributors/delete-distributor/'+distributor.id+'" class="btn btn-warning"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>');
          $('#myModal').modal('show');
        });
      });
    });
  </script>
{% endblock %}
