{% extends 'base.twig' %}
{% block css %}
  <link rel="stylesheet" href="{{ css }}bootstrap-table.css">
  <link rel="stylesheet" href="{{ css }}AdminLTE.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-10">
     {# <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="title-box text-center">Users</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover table-responsive">
              <thead>
                <tr role="row">
                  <th>#</th>
                  <th>Names</th>
                  <th>Last Name</th>
                  <th>Second Last Name</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>Organization</th>
                </tr>
              </thead>
              <tfoot>
                <tr role="row">
                  <th>#</th>
                  <th>Names</th>
                  <th>Last Name</th>
                  <th>Second Last Name</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>Organization</th>
                </tr>
              </tfoot>
              <tbody>
                {% for user in users %}
                  <tr>
                    <th>{{ user.id }}</th>
                    <th>{{ user.name }}</th>
                    <th>{{ user.lastname }}</th>
                    <th>{{ user.lastname_second }}</th>
                    <th>{{ user.email }}</th>
                    <th>{{ user.username }}</th>
                    <th>{{ user.organization.name }}</th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div> #}
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="title-box text-center">Users</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover table-responsive" data-toggle="table" data-url="{{ urlFor('root') }}users_json" data-height="246" data-show-columns="true" data-pagination="true" data-search="true">
                <thead>
                <tr>
                    <th data-field="id">#</th>
                    <th data-field="name">Names</th>
                    <th data-field="lastname">Last Name</th>
                    <th data-field="lastname_second">Second Last Name</th>
                    <th data-field="email">Email</th>
                    <th data-field="username" data-visible="false">Username</th>
                    <th data-field="organization_id">Organization</th>
                </tr>
                </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ js }}bootstrap-table.js"></script>
{% endblock %}
