{% extends 'base.twig' %}
{% block css %}
  <link rel="stylesheet" href="{{ css }}AdminLTE.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center page-header"><h2>Welcome System Administrator</h2></div>
  </div>
  <div class="row">
    <div class="col-md-2">
      {% include 'navbar_admin.twig' %}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="box">
          <div class="box-header">
            <h3 class="title-box text-center">Controllers</h3>
          </div>
          <div class="box-body">
            <table class="table table-bordered table-hover table-responsive">
              <thead>
                <tr role="row">
                  <th>#</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Block Size</th>
                  <th>Cache Size</th>
                  <th>New Overhead</th>
                  <th>Available</th>
                  <th>More Information</th>
                </tr>
              </thead>
              <tfoot>
                <tr role="row">
                  <th>#</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Block Size</th>
                  <th>Cache Size</th>
                  <th>New Overhead</th>
                  <th>Available</th>
                  <th>More Information</th>
                </tr>
              </tfoot>
              <tbody>
                {% for c in controllers %}
                  <tr>
                    <th>{{ c.id }}</th>
                    <th>{{ c.name }}</th>
                    <th>{{ c.type }}</th>
                    <th>{{ c.block_size }}</th>
                    <th>{{ c.cache_size }}</th>
                    <th>{{ c.new_overhead }}</th>
                    <th>
                      {% if c.available == false %}
                        <span class="badge bg-red">Disabled</span>
                      {% else %}
                        <span class="badge bg-aqua">Enabled</span>
                      {% endif %}
                    </th>
                    <th><a href="#" data-toggle="modal" data-target="#{{ c.id }}"><i class="fa fa-question">&nbsp;More info</i></a></th>
                  </tr>
                  <div class="modal fade" id="{{ c.id }}" tabindex="-{{ c.id }}" role="dialog" aria-labelledby="{{ c.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel"><b><i class="fa fa-hdd-o"></i> {{ c.name }}</b></h4>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-12">
                              <p><b>Read Fence:</b> {{ c.read_fence }}</p>
                              <p><b>Write Fence:</b> {{ c.write_fence }}</p>
                              {% if c.prefetching == false %}
                                <p><b>Prefetching: </b><span class="badge bg-red">Disabled</span></p>
                              {% else %}
                                <p><b>Prefetching: </b><span class="badge bg-aqua">Enabled</span></p>
                              {% endif %}
                              {% if c.inmediate_report == false %}
                                <p><b>Inmediate Report: </b><span class="badge bg-red">Disabled</span></p>
                              {% else %}
                                <p><b>Inmediate Report: </b><span class="badge bg-aqua">Enabled</span></p>
                              {% endif %}
                              <p><b>Msg Size:</b> {{ c.msg_size }}</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <form action="">
                            {% if c.available == false %}
                              <input type="hidden" id="available" name="available" value="true">
                              <button class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;Enabled</button>
                            {% else %}
                              <input type="hidden" id="available" name="available" value="false">
                              <button class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;Disabled</button>
                            {% endif %}
                          </form>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
